*{
    box-sizing: border-box;
}
header{
    background-color: cadetblue;
}
.section__hero{
    background-color: red;
}
.content{
    background-color: violet;
}
.sidebar{
    background-color: pink;
}
footer{
    background-color: grey;
}