*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
header{
    background-color: #38A9F4;
}
.section__hero{
    background-color:#D22B1F;
}
.content{
    background-color: #2C9A21;
}
.sidebar{
    background-color:  #673AB7;
}
footer{
    background-color: #616161;
}